/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*/

/** Trav CSS **/

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 5px;
  background-color: gray;
  text-align: center;
  font-family: "Roboto", arial, sans-serif;
  border-radius: 10px;
}

h1, h4 {
  padding: 0;
  margin: 0;
}
.row {
  padding: 10px;
  margin: 10px;
  text-align: center;
}
#options {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#options li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  display: inline;
  cursor: pointer;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0;
}
#options li:first-child {
  border-radius: 20% 0% 0% 20%;
}

#options li:last-child  {
  border-right: 1px solid black;
  border-radius: 0% 20% 20% 0%;
}

#options li:hover{
  background-color: white;
}
.active {
    background-color: #4CAF50;
}

#display {
  background-color: white;
  width: 900px;
  height: 1200px;
  border-radius: 10px;
  margin: 0 auto;
}
#canvas {
  margin: 25px auto;
}

.cust_button {
  padding: 5px;
  display: inline;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;

}

.cust_button:hover{
  background-color: #ffffcc;
}